@()

@main("Welcome to Play") {







    <section id="title" class="peter-river navbar-fixed-top " role="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Habilidades laborales</h1>

            </div>
        </div>
    </div>
    </section><!--/#title-->











    <section id="registration" class=" wet-asphalt navbar-fixed">
        <form class="center animated bounceInLeft" role="form">
            <fieldset class="registration-form">
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" id="email" name="email" placeholder="Habilidad nº 1" class="form-control">
                </div>

                <div class="form-group">
                    <button class="  btn btn-primary btn-md ">Agregar</button>
                </div>
            </fieldset>
        </form>
    </section><!--/#registration-->




    <table class="table table-striped">
        <thead>
            <tr>
                <th width="13%"></th>
                <th width="20%" align="center">ID</th>
                <th width="20%" align="center">Nombre</th>
                <th width="20%" align="center">Habilidades</th>
                <th width="20%" align="center">Agregar habilidad</th>
                <th/>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a>

                </a></td>


                <td><a>
                001
                </a></td>

                <td><a>
                Nestor</a></td>

                <td><a>





                    <div class="btn-group">
                        <div class="btn-group">
                            <select name="OS">
                                <option value="1">Windows Vista</option>
                                <option value="2">Windows 7</option>
                                <option value="3">Windows XP gfhfghfghfghfghfghfhgfghfghfghfghfghfghfghfhfghgfhfghfghfghfghfghfghfhgfghfghfhfghgfhfghfghfghfghfghfgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</option>
                                <option value="10">Fedora</option>
                                <option value="11">Debian</option>
                                <option value="12">Suse</option>
                            </select>
                        </div>
                    </div>





                </a></td>

                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            
            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>

                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>


                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>




            <tr>

                <td><a>

                </a></td>

                <td><a>
                    003
                </a></td>

                <td><a>
                    David</a></td>

                <td><a>





                    <div class="btn-group">
                        <div class="btn-group">
                            <select name="OS">
                                <option value="1">Windows Vista</option>
                                <option value="2">Windows 7</option>
                                <option value="3">Windows XP</option>
                                <option value="10">Fedora</option>
                                <option value="11">Debian</option>
                                <option value="12">Suse</option>
                            </select>
                        </div>
                    </div>





                </a></td>

                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>


                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>




            <tr>

                <td><a>

                </a></td>

                <td><a>
                    004
                </a></td>

                <td><a>
                    Andres</a></td>

                <td><a>





                    <div class="btn-group">
                        <div class="btn-group">
                            <select name="OS">
                                <option value="1">Windows Vista</option>
                                <option value="2">Windows 7</option>
                                <option value="3">Windows XP</option>
                                <option value="10">Fedora</option>
                                <option value="11">Debian</option>
                                <option value="12">Suse</option>
                            </select>
                        </div>
                    </div>





                </a></td>

                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>


                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>

            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>


            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>



                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>



                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>


                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>
                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>




                </a></td>

                <td><a>

                    <div class="InputAddOn">
                        <input class="form-group" >
                        <button class="  btn btn-primary btn-md ">Agregar</button>
                    </div>


                </a></td>

                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>

                    <td><a>

                        <div class="InputAddOn">
                            <input class="form-group" >
                            <button class="  btn btn-primary btn-md ">Agregar</button>
                        </div>


                    </a></td>


                </a></td>
                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>

                    <td><a>

                        <div class="InputAddOn">
                            <input class="form-group" >
                            <button class="  btn btn-primary btn-md ">Agregar</button>
                        </div>


                    </a></td>


                </a></td>
                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>



            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>

                    <td><a>

                        <div class="InputAddOn">
                            <input class="form-group" >
                            <button class="  btn btn-primary btn-md ">Agregar</button>
                        </div>


                    </a></td>


                </a></td>
                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>


            <tr>

                <td><a>

                </a></td>

                <td><a>
                    002
                </a></td>

                <td><a>
                    Sandra</a></td>

                <td><a>





                    <select name="OS">
                        <option value="1">Windows Vista</option>
                        <option value="2">Windows 7</option>
                        <option value="3">Windows XP</option>
                        <option value="10">Fedora</option>
                        <option value="11">Debian</option>
                        <option value="12">Suse</option>
                    </select>


                    <td><a>

                        <div class="InputAddOn">
                            <input class="form-group" >
                            <button class="  btn btn-primary btn-md ">Agregar</button>
                        </div>


                    </a></td>

                </a></td>
                <td>

            <td>
                <a>
                    <i class="icon icon-pencil"></i></a>
                <a>
                    <i class="icon icon-trash"></i></a>


            </td>
            </tr>

        </tbody>


    </table>

    <a class="btn">
        <i class="icon-plus"></i> New product</a>



}
